{% extends "layout.html" %}

{% block body %}
<div>
    <row>
        <div class="col-xs-12 text-center">
            <h1>Welcome to AcaSpot!</h1>
            <p>AcaSpot is a collaborative tool to make running A Cappella groups easier!</p>
            <p>It is currently in beta and is only supporting creating user/group profiles, and signing up for auditions</p>
            <a type="button" href="/login" class="btn btn-primary">Login</a>
            <a type="button" href="/register" class="btn btn-primary">Register</a>
        </div>
    </row>
</div>
{% endblock %}